/* ANIMATIONS */


@keyframes pulse {
  0% {
    transform: scale(1);
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes move {
  0% {
    top: 0px;
  }

  9% {
    top: -50px;
  }

  18% {
    top: -100px;
  }

  27% {
    top: -150px;
  }

  36% {
    top: -200px;
  }

  45% {
    top: -250px;
  }

  54% {
    top: -300px;
  }

  63% {
    top: -350px;
  }

  72% {
    top: -400px;
  }

  81% {
    top: -450px;
  }

  90% {
    top: -500px;
  }


}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }

  9% {
    top: -50px;
  }

  18% {
    top: -100px;
  }

  27% {
    top: -150px;
  }

  36% {
    top: -200px;
  }

  45% {
    top: -250px;
  }

  54% {
    top: -300px;
  }

  63% {
    top: -350px;
  }

  72% {
    top: -400px;
  }

  81% {
    top: -450px;
  }

  90% {
    top: -500px;
  }
}

@-o-keyframes move {
  0% {
    top: 0px;
  }

  9% {
    top: -50px;
  }

  18% {
    top: -100px;
  }

  27% {
    top: -150px;
  }

  36% {
    top: -200px;
  }

  45% {
    top: -250px;
  }

  54% {
    top: -300px;
  }

  63% {
    top: -350px;
  }

  72% {
    top: -400px;
  }

  81% {
    top: -450px;
  }

  90% {
    top: -500px;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }

  9% {
    top: -50px;
  }

  18% {
    top: -100px;
  }

  27% {
    top: -150px;
  }

  36% {
    top: -200px;
  }

  45% {
    top: -250px;
  }

  54% {
    top: -300px;
  }

  63% {
    top: -350px;
  }

  72% {
    top: -400px;
  }

  81% {
    top: -450px;
  }

  90% {
    top: -500px;
  }
}