/* RESPONSIVE BREAKPOINTS */

/* MOBILE */

@media only screen and (orientation: portrait) and (max-width: 767px) {

  /* UNIVERSAL */

  .cursor {
    display: none;
  }

  footer {
    display: none;
  }

  .btn-lg {
    font-size: 5vw;
  }

  .animated {
    padding: 3vw 6vw;
  }

  /* END UNIVERSAL */

  /* NAV */

  #social-github,
  #social-fiverr,
  #social-linkedin {
    margin-left: 3vw;
  }

  #social-linkedin,
  #social-github {
    font-size: 6vw;
  }

  #social-fiverr svg {
    height: 6vw;
  }

  .dark-mode-toggler {
    font-size: 4.5vw;
  }

  .navbar-toggler {
    font-size: 5vw;
  }

  .nav-item {
    width: initial !important;
    height: initial !important;
  }

  .slide {
    background: none !important;
    background-size: initial !important;
  }

  .slide:hover {
    background-position: initial !important;
  }

  .nav-link {
    font-size: 8vw !important;
  }

  .slide:hover .nav-link {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    transition-duration: none;
  }

  .navbar-nav {
    width: initial !important;
    margin-top: 3vh;
    background: linear-gradient(71deg, rgba(0, 10, 162, 1) 0%, rgba(22, 82, 240, 1) 100%);
  }

  .navbar-toggler {
    margin-right: 0;
  }

  /* END NAV */

  /* HOME */

  #intro-welcome {
    font-size: 8vw;
  }

  #intro {
    font-size: 20vw;
    text-align: center;

  }

  #intro-lower {
    flex-direction: column;
  }

  #intro-lower-title {
    display: block;
    font-size: 5vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .intro-inner-skills div {
    justify-content: center;
    font-size: 8vw;
    height: 7vh;
  }

  #intro-lower-location {
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 5vw;
  }

  /* ABOUT */

  .about {
    justify-content: start;
  }

  #landing-container {
    width: 90vw;
  }

  #about-me {
    flex-direction: column-reverse;
    justify-content: center;
    height: 85vh;
    margin-top: 15vh;
  }

  .about-left {
    width: 85vw;
    text-align: center;
  }

  #about-right {
    width: 70vw;
    text-align: center;
    margin-bottom: 3vh;
  }

  #photo {
    width: 50vw;
  }

  #about-typed {
    font-size: 4.5vw;
    height: inherit;
  }

  .btn-about {
    margin-top: 1vh;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .about-left-wide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: inherit;
  }

  .about-website-container {
    flex-direction: column;
    height: 70vh;
  }

  #website-info-title {
    font-size: 8vw;
  }

  #website-info {
    font-size: 4.2vw;
    margin-bottom: 0;
  }

  #website-info a {
    font-size: 1rem;
  }

  .website-info-idea {
    margin-bottom: 3vh;
  }

  #cogs {
    justify-content: center;
    align-items: center;
    position: static;
    margin-top: 2vh;
    margin-bottom: 3vh;
    width: 90vw;
  }

  /* PORTFOLIO */

  #portfolio-container {
    flex-direction: column;
    width: 90vw;
    height: 80vh;
  }

  .carousel-wrapper {
    width: 100%;
    animation: none;
  }

  #project-desc,
  #project-text {
    width: 100%;
  }

  #project-desc {
    margin-left: 0;
  }

  #project-text {
    font-size: 5vw;
  }

  #project-title {
    width: 100%;
    margin-top: 1vh;
    font-size: 10vw;
  }

  #project-btns {
    margin-top: 3vh;
    width: 90vw;
  }

  /* END PORTFOLIO */

  /* SKILLS */

  .skills {
    overflow-y: scroll;
  }

  .skills-container {
    height: 80vh;
    width: 90vw;
  }

  .skill {
    width: 90vw;
    height: 90vw;
    justify-content: center;
  }

  .skill-svg {
    font-size: 20vw;
    margin-bottom: 2vh;
  }

  #skill-info {
    font-size: 8vw;
  }

  /* CONTACT */

  .contact {
    overflow-y: scroll;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  #form {
    margin-top: 15vh;
  }

  #form-container {
    width: 90vw;
    height: inherit;
  }

  .form-main {
    display: flex !important;
    flex-direction: column !important;
    width: 90vw;
  }

  .btn-submit {
    margin-bottom: 3vh;
  }

  .form-right,
  .form-left {
    position: static;
    min-height: auto;
  }

  .form-left {
    margin-bottom: 3vh;
  }

  #name,
  #email,
  #phone,
  #company {
    font-size: 2rem;
    font-weight: 300;
  }

  #name::placeholder,
  #email::placeholder,
  #phone::placeholder,
  #company::placeholder {
    font-size: 2rem;
    font-weight: 300;
  }

  #message {
    font-size: 1.5rem;
    font-weight: 300;
  }

  #message::placeholder {
    font-size: 1.5rem;
    font-weight: 300;
  }

  #contact-small {
    font-size: 1.3rem;
    font-weight: 200;
  }

  .form-complete {
    position: absolute;
    top: 40%;
    width: 90vw;
  }

  .form-complete h2 {
    font-size: 7vw;
  }

  .form-complete svg {
    font-size: 8vw;
  }

}

/* MOBILE LANDSCAPE */

@media only screen and (orientation: landscape) and (max-height: 767px) and (max-width: 823px) {

  /* UNIVERSAL */

  .btn-lg {
    font-size: 1.8vw;
  }

  .animated {
    padding: 1.5vw 3vw;
  }

  /* END UNIVERSAL */

  /* HOME */

  #landing-container {
    margin-top: 10vh;
  }

  /* END HOME */

  /* ABOUT */

  #about-me {
    margin-top: 10vh;
    height: 80vh;
  }

  #about-typed {
    font-size: 1.8vw;
  }

  .about-left {
    height: 50vh;
  }

  .btn-about {
    margin-top: 2vh;
  }

  #website-info {
    font-size: 1.5vw;
  }

  #website-info a {
    font-size: 1.6vw;
  }

  /* END ABOUT */

  /* PORTFOLIO */

  #project-title {
    margin-bottom: 3vh;
  }

  #project-text {
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  /* END PORTFOLIO */

  /* SKILLS */

  .skills-container {
    width: 90vw;
    margin-top: 5vh;
  }

  #skill-info {
    font-size: 1.4vw;
  }

  /* END SKILLS */

  /* CONTACT */

  #form-container {
    height: 65vh;
    width: 90vw;
  }

  .form-main {
    margin-top: 3vh;
  }

  .form-group {
    margin-bottom: 2vh;
  }

  #name,
  #email,
  #phone,
  #company,
  #name::placeholder,
  #email::placeholder,
  #phone::placeholder,
  #company::placeholder {
    font-size: 1rem;
  }

  #message,
  #message::placeholder {
    font-size: 1rem;
  }

  #contact-small {
    font-size: 2vw;
  }

  .form-complete {
    position: absolute;
    top: 40%;
    width: 90vw;
  }

  .form-complete h2 {
    font-size: 4vw;
  }

  /* END CONTACT */
}


/* TABLETS */

/* TABLET PORTRAIT */

@media only screen and (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {

  /* UNIVERSAL */

  .btn-lg {
    font-size: 3vw;
  }

  .animated {
    padding: 2vw 4vw;
  }

  /* END UNIVERSAL */

  /* NAV */

  .dark-mode-toggler {
    font-size: 1.5rem;
  }

  #social-github,
  #social-fiverr,
  #social-linkedin {
    margin-left: 3vw;
  }

  #social-linkedin,
  #social-github {
    font-size: 2rem;
  }

  #social-fiverr svg {
    height: 3vw;
  }

  .nav-item {
    width: initial !important;
    height: initial !important;
  }

  .slide {
    background: none !important;
    background-size: initial !important;
  }

  .slide:hover {
    background-position: initial !important;
  }

  .nav-link {
    font-size: 2rem !important;
    padding-right: 1rem !important;
  }

  .slide:hover .nav-link {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    transition-duration: none;
  }

  .navbar-nav {
    width: 40vw !important;
  }

  .navbar-toggler {
    font-size: 1.5rem;
    margin-right: 0;
  }

  /* HOME */

  #intro-welcome {
    font-size: 6vw;
  }

  #intro {
    font-size: 11vw;
  }

  #intro-lower-title {
    font-size: 3.5vw;
  }

  .intro-inner-skills div {
    font-size: 4vw;
  }

  #intro-lower-location {
    font-size: 4vw;
  }

  footer {
    font-size: 2vw;
  }

  /* END HOME */

  /* ABOUT */

  #about-me {
    flex-direction: column-reverse;
    justify-content: center;
    height: 70vh;
    margin-top: 10vh;
  }

  #about-typed {
    font-size: 3.2vw;
    height: inherit;
  }

  .about-left {
    width: 70vw;
    text-align: center;
  }

  #about-right {
    width: 35vw;
    margin-bottom: 5vh;
  }

  #photo {
    width: 35vw;
    opacity: 0.9;
  }

  .about-website-container {
    flex-direction: column;
    height: 50vh;
    margin-bottom: 3vh;
  }

  .about-left-wide {
    width: 90vw;
  }

  #website-info {
    font-size: 3.3vw;
    margin-bottom: 0;
  }

  #website-info a {
    font-size: 3.4vw;
  }

  #website-info-title {
    font-size: 4.2vw;
  }

  .website-info-idea {
    margin-bottom: 7vh;
  }

  #cogs {
    top: 130%;
    left: 60%;
  }

  #cog-l {
    font-size: 6vw;
  }

  #cog-s {
    font-size: 3vw;
  }

  /* END ABOUT */

  /* PORTFOLIO */

  #portfolio-container {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
  }

  .carousel-wrapper {
    width: 90vw;
    animation: none;
  }

  #project-desc,
  #project-text {
    width: 100%;
  }

  #project-text {
    font-size: 3.5vw;
  }

  #project-title {
    width: 100%;
    margin-top: 0;
    font-size: 10vw;
  }

  #project-btns {
    margin-top: 3vh;
    width: 90vw;
  }

  /* END PORTFOLIO */

  /* SKILLS */

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
  }

  .skill {
    width: 26vw;
    height: 26vw;
    margin: 2vw;
  }

  .skill-svg {
    font-size: 5vw;
  }

  #skill-info {
    font-size: 2.8vw;
  }

  /* END SKILLS */

  /* CONTACT */

  .contact {
    margin-top: 10vh;
    height: 90vh;
  }

  .btn-contact {
    margin-bottom: 1vh;
  }

  #form-container {
    width: 90vw;
    height: max-content;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .form-main {
    display: flex !important;
    flex-direction: column !important;
    width: 90vw;
    margin-top: 2vh;
  }

  .form-complete {
    position: absolute;
    top: 40%;
    width: 90vw;
  }

  .form-right,
  .form-left {
    position: static;
    min-height: auto;
    width: 90vw;
  }

  .form-left {
    margin-bottom: 3vh;
  }

  #contact-small {
    font-size: 3vw;
    font-weight: 200;
  }

  #name,
  #email,
  #phone,
  #company {
    font-weight: 300;
  }

  #name::placeholder,
  #email::placeholder,
  #phone::placeholder,
  #company::placeholder {
    font-weight: 300;
  }

  #message {
    font-size: 5vw;
    font-weight: 300;
  }

  #message::placeholder {
    font-size: 5vw;
    font-weight: 300;
  }

  /* END CONTACT */
}

/* TABLET LANDSCAPE */

@media only screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1279px) {

  /* UNIVERSAL */
  .btn-lg {
    font-size: 2vw;
  }

  .animated {
    padding: 1.5vw 3vw;
  }

  /* END UNIVERSAL */

  /* HOME */

  #intro-welcome {
    font-size: 5vw;
  }

  #intro-lower-title {
    font-size: 3vw;
  }

  .intro-inner-skills div {
    font-size: 3.5vw;
  }

  #intro-lower-location {
    font-size: 2.5vw;
  }

  footer {
    font-size: 2vw;
  }

  /* END HOME */

  /* ABOUT */

  #about-right {
    width: 30vw;
  }

  #photo {
    width: 30vw;
  }

  #about-typed {
    font-size: 2.2vw;
    height: inherit;
  }

  #website-info {
    font-size: 2vw;
  }

  #website-info a {
    font-size: 2.1vw;
  }

  #cog-l {
    font-size: 4vw;
  }

  #cog-s {
    font-size: 2vw;
  }

  /* END ABOUT */

  /* PORTFOLIO */

  .carousel-wrapper {
    width: 45vw;
  }

  #project-title {
    font-size: 5vw;
  }

  #project-text {
    font-size: 2.5vw;
  }

  /* END PORTFOLIO */

  /* SKILS */

  .skill {
    width: 16vw;
    height: 16vw;
  }

  #skill-info {
    font-size: 1.7vw;
  }

  .skill-svg {
    font-size: 2.5vw;
  }

  /* END SKILLS */

  /* CONTACT */

  #form-container {
    width: 90vw;
  }

  #contact-small {
    font-size: 2vw;
    font-weight: 200;
  }

  #message {
    font-weight: 400;
  }

  #message::placeholder {
    font-weight: 300;
  }

  /* END CONTACT */
}